h1 {
	font-size: 40px;
	color: rgb(0, 71, 185);
}

p {
	font-size: 20px;
	color: rgb(0, 71, 185);
}
h2{
	font-size: 30px;
	color: rgb(0, 71, 185);
}
li{
	font-size: 25px;
	color: rgb(0, 71, 185);
}
div{
	font-size: 25px;
	background-color: rgb(0, 71, 185)
}

